.ReviewListMain__button-container{
    font-size: 40px;
    margin: -5px;
}

.NavCircleButton.ReviewListMain__add-note-button{
    font-size: 20px;
    margin: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(141, 184, 141);
    text-decoration: none;
}
ul{
    list-style: none;
}
.reviewSec{
    background-color: rgba(240, 255, 240, 0.808);
    padding:20px;
    margin:40px;
    color: black;
}
@media only screen and (max-width: 768px) {
.reviewSec{
    margin:20px;
    padding:10px;
    color: black;
}

}