.ReviewListMain__button-container{
    font-size: 40px;
    margin: -5px;
}

.NavCircleButton.ReviewListMain__add-note-button{
    font-size: 20px;
    margin: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(141, 184, 141);
    text-decoration: none;
}