
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Piazzolla', serif;
    font-size: 20px;
    color: white;
    text-align: center;
    display: center;
    line-height: 1.5;
    background-position: center;
    background-image: url('images/plant3.jpg');
    background-size: cover; 
  background-color: #E8C892;
   
  }


  .App__header h1 {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 40px;
  }

  
  p{
      text-align: left;
      font-size: 40px;
      margin: 10px;
      color: rgb(53, 66, 53);
      font-family: 'Piazzolla', serif;
  }

  .land{
    color: rgb(96, 167, 68);
    min-height: 730px;
    background-size: 50%;
    background-repeat:no-repeat;
    margin:10px;
    display: flex;
    padding: 20px;
    
  }
  .land p{
    font-size: 20px;
    text-transform: none;
    color: rgb(53, 66, 53);
    line-height: 30px;
    letter-spacing: 0.43px;
  }
  .land h3{
    font-family: 'Piazzolla', serif;
    font-size: 15px;
    margin: 5px;
    padding: 5px;  }


.land a{
 font-size: 20px;
  margin: 20px;
  color: white;
  padding: 10px;
  background-color: rgb(141, 184, 141);
  text-decoration: none;
}
  h2{
      margin: 10px;
      font-size: 20px;
  }
  h3,h4{
    font-size: 20px;
    margin: 15px; 
    text-align: left;
    color: rgb(53, 66, 53);
  }
.sec1, .sec2{
  width: 50%;
  padding: 10px;
  margin:10px;
  background-color: rgba(240, 255, 240, 0.596);
  margin-bottom: 300px;
}

  a:active {
    color: white;
  }
  
  .BrowseListNav p{
    text-transform: none;

  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
   
body{
    font-size: 10px;
    background-size:200%;
}
.sec1, .sec2{
  width: 100%;
  margin-bottom: 100px;
  margin-right: 20px;
}

p{
  font-size: 15px;
  margin: 5px;
}

.land{
  display: block;
}
  }
  @media only screen and (max-width: 300px) {
    .land{
      display: block;
    }
  }

  @media only screen and (min-width: 769px) {
    
    body{
      font-size: 10px;
      background-position: center;
      background-repeat: repeat;
      background-size: stretch;
      position: relative;
  }
  
  p{
    font-size: 15px;
  }
  .sec1,.sec2{
    padding: 10px;
    margin:10px;
    margin-bottom: 300px;
  }
  }
