
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 1.5;
    background-image: url(https://wallpaperaccess.com/full/245018.jpg);
    background-position: bottom;
  }
  
  nav,
  footer {
    padding: 0.5% 0;
    background-color: #aaa;
  }
  
  nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 1.2pc;
  }
  
  header {
    font-size: 50px;
    padding: 25px 15px;
    color: darkgreen;
    text-shadow: 2px 2px white;
    background-size: cover;
    background-repeat:no-repeat;
    border:white;
    background-image: url('https://wallpaperaccess.com/full/245018.jpg');
  }
  
  p{
      text-align: left;
      font-size: 40px;
      margin: 10px;
      color: white;
    text-shadow: 2px 2px black;
  }

  .land{
    color: rgb(96, 167, 68);
    background-color: rgba(0, 128, 0, 0.274);
  }
  .land p{
    font-size: 40px;
    text-transform: none;
    color: white;
  }
  .land h3{
    margin: 5px;
    padding: 5px;
  }


.land a{
 font-size: 50px;
  margin: 30px;
  color: white;
}
  h2{
      margin: 10px;
      font-size: 50px;
  }
  h3,h4{
    font-size: 40px;
    margin: 15px; 
    text-align: left;
    color: white;
    text-shadow: 2px 2px black;
  }

  img{
  border-radius: 5px;
  width: 345px;
  height: 300px;
  }
  a:active {
    color: green;
  }
  
  .BrowseListNav p{
    text-transform: none;
  }
  .land h3 {
    color: green;
    text-shadow: none;
    margin: 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.952);
  }

  @media only screen and (min-width: 300px) {
    /* For mobile phones: */
   
body{
    font-size: 10px;
}

p{
  font-size: 15px;
}
img{

  width: 200px;
  height:200px;
}
  }

  @media only screen and (min-width: 769px) {
    
    img{
      margin-left: 20%;
      width: 500px;
      height:300px;
    }
    body{
      font-size: 30px;
  }
  
  p{
    font-size: 35px;
  }
  }
