.plantimg {
    padding: 50px;
        border-radius: 5px;
        width: 300px;
        height: 300px;

}
.BrowseListNav{
    margin: 20px;
    padding: 20px;
    column-width: 500px;
}
.plantsum{
    width: 100%;
    flex: 1;
    padding: 1rem;
    column-count: 2;
    margin-top: 20px;
}
.BrowseistNav__folder-link{
font-size: 20px;
margin: 20px;
color: white;
padding: 10px;
background-color: rgb(141, 184, 141);
text-decoration: none;
}
.plantNote {
    display: inline-block;
    font-size: 10px;
    width: 95%;
    border-style: solid ;
    padding: 20px;
    background-color: rgba(240, 255, 240, 0.719);
    margin: 10px;
}

p{
    padding: 3px;
    text-align: left;
    margin: 15px;
}

.level {
    margin: 0px;
    text-align: center;
}

.content{
    padding: 10px;
}
ul{
border: white;
}
h2{
    color:#F5D49A;
    text-shadow: 2px 2px black;
}

@media only screen and (max-width: 768px) {

    .BrowseListNav{
        width: 100%;
        display: grid;
        margin: 0px;
        padding: 0px;
    }
    .plantimg {
        padding: 10px;
        border-radius: 5px;
        width: 200px;
        height: 200px;
    }
     
    .plantsum{
     
        font-size: 16px;
        padding:0px;
        }

    .plantNote{
        font-size: 16px;
        column-width: 100%;
        border-style: solid ;  
    }

    .BrowseistNav__folder-link{
        font-size: 16px;
        }

}