.navLink {
  float:left;
  width:20%;
  margin:8px;
 }
 .navLink a {
   display: block;
   font-size: 25px;
   color: white;
   text-align: center;
   padding: 0px 0px;
   text-decoration: none;
 }
 .navSec {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(141, 184, 141);
 }
  @media only screen and (max-width: 768px) {

    .navLink {
     float:left;
     width:20%;
     margin:8px;
    }
    .navLink a {
      display: block;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 0px 0px;
      text-decoration: none;
    }
    .navSec {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(141, 184, 141);
    }


  }
  