
nav {
    display: flex;
    position: fixed;
    top: 0;
    padding: 1% 0;
    background-color: #aaa;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 1.2pc;
  }


 .Nav a {
  background-color: rgba(240, 255, 240, 0.726);    
  text-decoration: none;
  font-size: 16px;
  padding: 20px;
  margin: 20px;
  color:black;
  border: 2px solid #F5D49A;
  font-weight: bold;
  }


  @media only screen and (max-width: 768px) {

    nav{

    }
    .Nav a {
      font-size: 16px;
      padding: 2px;
      margin: 10px;
      color:white;
      }
  }
  