
nav {
    display: flex;
    position: fixed;
    top: 0;
    padding: 1% 0;
    background-color: #aaa;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 1.2pc;
  }


 .Nav a {
    PADDING: 25px;
    font-size: 35px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.767);
  }
  