.Review_content{
    font-size: 40px;
   text-align: left;
   color: black;
}

.Review__ratings{
    padding: 10px;
  text-align: center;
}

.Note{
  color:black;
}

@media only screen and (max-width: 768px) {

  .Note{
    font-size: 16px;
  }
  .Review_content{
  font-size: 16px;
   color: black;
}
li{
padding: 0px;
}
}