.QuizPage{
    list-style-type: none;
    color:white;
}
.answerOptions {
    padding: 15px;
    list-style: none;
  }
.QuestionList{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 30px;
}
li{
font-size: 15px;
padding:30px;
background-color: rgba(0, 100, 0, 0.699);
}
.radioCustomLabel{
   font-size: 20px;
}
input[type=radio] {
    display: block;
    width: 30px;
    height: 2em;
    margin-left: 150px;
}
.answerOption {
    display: block;
    margin-bottom:10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
.field p{
    text-shadow: none;
    text-transform: none;
  color: black 
}

.results {
  margin: 30px;
  padding: 50px;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.76);
  color: green;
}