.QuizPage{
    list-style-type: none;
    color:white;
}
.answerOptions {
    padding: 15px;
    list-style: none;
  }
.QuestionList{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 30px;
}
li{
font-size: 15px;
padding:30px;
}
.radioCustomLabel{
   font-size: 20px;
}
input[type=radio] {
    display: block;
    width: 30px;
    height: 2em;
    margin-left: 150px;
}
.answerOption {
  background-color: rgba(240, 255, 240, 0.596);
    display: block;
    margin-bottom:10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
.field p{
    text-shadow: none;
    font-size: 20px;
    text-transform: none;
  color: white; 
  text-shadow: 1px 1px black;
}

.results {
  margin: 30px;
  padding: 50px;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.76);
  color: green;
}